<link rel="stylesheet" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Sankofa Display' rel='stylesheet'>
<div class="" style="background-color: #fff;">
  {{!-- Section 1 Intro Screen --}}
  <div class="container-fuild proj_bg" style="padding:0%;">
    <div class="row" style="margin:0">
      <div class="col-12 d-flex justify-content-center">
        <div class="proj_title_body" style="text-align: center;"><a class="proj_back_arr_a" href="/#{{project_id}}">
            <img class="proj_back_arr" src="/img/left_arrow.png"> BACK</a><span>Grade: {{aProj.grade}} </span>
          <p class="proj_type">{{aProj.type}}</p>
          <p class="proj_techncalDesc">{{aProj.company_desc}}</p>
          <p class="proj_techncalDesc">
            {{#ifIn "HTML" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/html.png" alt="">
            {{/ifIn}}
            {{#ifIn "CSS" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/css.png" alt="">
            {{/ifIn}}
            {{#ifIn "JS" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/javascript.png" alt="">
            {{/ifIn}}
            {{#ifIn "PYTHON" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/python.png" alt="">
            {{/ifIn}}
            {{#ifIn "SQL" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/sql.png" alt="">
            {{/ifIn}}
            {{#ifIn "FIREBASE" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/firebase.png" alt="">
            {{/ifIn}}
            {{#ifIn "BLOCKCHAIN" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/blockchain.png" alt="">
            {{/ifIn}}
            {{#ifIn "UIPATH" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/uipath.png" alt="">
            {{/ifIn}}
            {{#ifIn "NODEJS" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/nodejs.png" alt="">
            {{/ifIn}}
            {{#ifIn "HANDLEBARS" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/handlebars.png" alt="">
            {{/ifIn}}
            {{#ifIn "FLASK" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/flask.png" alt="">
            {{/ifIn}}
            {{#ifIn "CSHARP" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/csharp.png" alt="">
            {{/ifIn}}
            {{#ifIn "EXCEL" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/excel.png" alt="">
            {{/ifIn}}
            {{#ifIn "TABLEAU" aProj.skills}}
            <img class="proj_icon skill_icon" src="/img/icons/tableau.png" alt="">
            {{/ifIn}}
          </p>
        </div>

      </div>
    </div>
  </div>
  <div class="container main_proj" style="padding-bottom: 10svh;">
    {{!-- --------------------- Role Desc Segment --------------------- --}}
    <div class="row " style="padding: 220px 0px 0px 0px;">
      <!-- item -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center"
        data-aos="fade-up" data-aos-duration="1000">
        <!-- Carousel -->
        <div id="proj_demo_intern" class="carousel slide" data-bs-ride="carousel">

          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            {{#each aProj.title_images}}
            <button type="button" data-bs-target="#proj_demo_intern" data-bs-slide-to="{{@index}}"
              class="{{#if @first}} active {{/if}}" style="background-color: #5e5e5e;"></button>
            {{/each}}
          </div>
          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            {{#each aProj.title_images}}
            <div class="carousel-item {{#if @first}} active {{/if}}">
              <a class="" href="{{this}}" target="_blank">
                <img src="{{this}}" alt="" class="proj_image d-block w-100">
              </a>
              <div class="carousel-caption">
                <p style="color: #5e5e5e; text-shadow: 0px 5px 5px #d1d1d1;">{{@key}}</p>
              </div>
            </div>
            {{/each}}
          </div>

          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#proj_demo_intern" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" style="background-color: #5e5e5e83; border-radius:30px;"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#proj_demo_intern" data-bs-slide="next">
            <span class="carousel-control-next-icon" style="background-color: #5e5e5e83; border-radius:30px;"></span>
          </button>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column align-items-start"
        data-aos="fade-up" data-aos-duration="2000">
        <p class="proj_title">{{aProj_dateFrom}} - {{aProj_dateTo}}</p>
        <p class="proj_roleDesc">{{aProj.role_desc}}</p>
        {{#if aProj_techniques}}
        <p class="proj_title">Techniques Used: </p>
        <p class="proj_roleDesc" id="proj_techniques">
        </p>
        {{/if}}
        {{#if aProj_features}}
        <p class="proj_title">Features Used: </p>
        <p class="proj_roleDesc" id="proj_features">
        </p>
        {{/if}}
      </div>

      {{!-- --------------------- Project Involvement & Scheduling Segment --------------------- --}}
      <div class="row " style="padding: 170px 0px 0px 0px; overflow:clip;">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column align-items-start"
          data-aos="fade-up-right" data-aos-duration="2000">
          <p class="proj_title" style="margin-left:20px">Project Involvement & Scheduling</p>
          <p class="proj_roleDesc" style="margin-left:20px">{{aProj.involvement_scheduling}}</p>

          <!-- Carousel -->
          <div id="proj_demo_intern_2" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              {{#each aProj.involvement_scheduling_images}}
              <button type="button" data-bs-target="#proj_demo_intern_2" data-bs-slide-to="{{@index}}"
                class="{{#if @first}} active {{/if}}" style="background-color: #5e5e5e;"></button>
              {{/each}}
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              {{#each aProj.involvement_scheduling_images}}
              <div class="carousel-item {{#if @first}} active {{/if}}">
                <a class="" href="{{this}}" target="_blank">
                  <img class="proj_image" src="{{this}}" alt="" class="d-block w-100">
                </a>
                <div class="carousel-caption">
                  <p style="color: #5e5e5e; text-shadow: 0px 5px 5px #d1d1d1;">{{@key}}</p>
                </div>
              </div>
              {{/each}}

              <!-- Left and right controls/icons -->
              <button class="carousel-control-prev" type="button" data-bs-target="#proj_demo_intern_2"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"
                  style="background-color: #5e5e5e83; border-radius:30px;"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#proj_demo_intern_2"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"
                  style="background-color: #5e5e5e83; border-radius:30px;"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"></div>
      </div>

      {{!-- --------------------- Use-Case Segment --------------------- --}}
      {{#if aProj.use_case}}
      <div class="row " style="padding: -120px 0px 0px 0px; overflow:clip;">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"></div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column align-items-end"
          data-aos="fade-up-left" data-aos-duration="2000">
          <p class="proj_title" style="margin-right:20px">Use Case</p>
          <p class="proj_roleDesc" style="margin-right:20px; text-align:end">{{aProj.use_case}}</p>
        </div>
      </div>
      {{/if}}

      {{!-- --------------------- Front End Segment --------------------- --}}
      {{#if aProj.front_end}}
      <div class="row " style="padding: -120px 0px 0px 0px; overflow:clip;">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"></div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column align-items-end"
          data-aos="fade-up-left" data-aos-duration="2000">
          <p class="proj_title" style="margin-right:0px">Front-End Site</p>
          <p class="proj_roleDesc" style="margin-right:0px; text-align:end">{{aProj.front_end}}</p>
          {{#each aProj.front_end_images}}
          <video width="100%" height="100%" controls>
            <source src="{{this}}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          {{/each}}
        </div>
      </div>
      {{/if}}
      {{!-- --------------------- Back End Segment --------------------- --}}
      {{#if aProj.back_end}}
      <div class="row " style="padding: -120px 0px 0px 0px; overflow:clip;">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column align-items-start"
          data-aos="fade-up-right" data-aos-duration="2000">
          <p class="proj_title" style="margin-left:0px">Back-End Site</p>
          <p class="proj_roleDesc" style="margin-left:0px; text-align:start">{{aProj.back_end}}</p>
          {{#each aProj.back_end_images}}
          <video width="100%" height="100%" controls>
            <source src="{{this}}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          {{/each}}
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"></div>
      </div>
      {{/if}}

      {{!-- --------------------- Database Segment --------------------- --}}
      {{#if aProj.database_info}}
      <div class="row " style="padding: -120px 0px 0px 0px; overflow:clip;">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"></div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column align-items-end"
          data-aos="fade-up-left" data-aos-duration="2000">
          <p class="proj_title" style="margin-right:20px">Database</p>
          <p class="proj_roleDesc" style="margin-right:20px; text-align:end">{{aProj.database_info}}</p>

          <!-- Carousel -->
          <div id="proj_demo_intern_3" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              {{#each aProj.database_images}}
              <button type="button" data-bs-target="#proj_demo_intern_3" data-bs-slide-to="{{@index}}"
                class="{{#if @first}} active {{/if}}" style="background-color: #5e5e5e;"></button>
              {{/each}}
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              {{#each aProj.database_images}}
              <div class="carousel-item {{#if @first}} active {{/if}}">
                <a class="" href="{{this}}" target="_blank">
                  <img class="proj_image" src="{{this}}" alt="" class="d-block w-100">
                </a>
                <div class="carousel-caption">
                  <p style="color: #5e5e5e; text-shadow: 0px 5px 5px #d1d1d1;">{{@key}}</p>
                </div>
              </div>
              {{/each}}

              <!-- Left and right controls/icons -->
              <button class="carousel-control-prev" type="button" data-bs-target="#proj_demo_intern_3"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"
                  style="background-color: #5e5e5e83; border-radius:30px;"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#proj_demo_intern_3"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"
                  style="background-color: #5e5e5e83; border-radius:30px;"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      {{/if}}

      {{!-- --------------------- Dashboard Segment --------------------- --}}
      {{#if aProj.dashboard_info}}
      <div class="row " style="padding: -120px 0px 0px 0px; overflow:clip;">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"></div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column align-items-end"
          data-aos="fade-up-left" data-aos-duration="2000">
          <p class="proj_title" style="margin-right:20px">Dashboards</p>
          <p class="proj_roleDesc" style="margin-right:20px; text-align:end">{{aProj.dashboard_info}}</p>

          <!-- Carousel -->
          <div id="proj_demo_intern_4" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              {{#each aProj.dashboard_images}}
              <button type="button" data-bs-target="#proj_demo_intern_4" data-bs-slide-to="{{@index}}"
                class="{{#if @first}} active {{/if}}" style="background-color: #5e5e5e;"></button>
              {{/each}}
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              {{#each aProj.dashboard_images}}
              <div class="carousel-item {{#if @first}} active {{/if}}">
                <a class="" href="{{this}}" target="_blank">
                  <img class="proj_image" src="{{this}}" alt="" class="d-block w-100">
                </a>
                <div class="carousel-caption">
                  <p style="color: #5e5e5e; text-shadow: 0px 5px 5px #d1d1d1;">{{@key}}</p>
                </div>
              </div>
              {{/each}}

              <!-- Left and right controls/icons -->
              <button class="carousel-control-prev" type="button" data-bs-target="#proj_demo_intern_4"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"
                  style="background-color: #5e5e5e83; border-radius:30px;"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#proj_demo_intern_4"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"
                  style="background-color: #5e5e5e83; border-radius:30px;"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      {{/if}}

    </div>
  </div>


  <script>
    // fetched doc from Firestore and got the HTML string to populate into HTML  Content
    {{#if aProj_techniques }}
    const storedHtml1 = '{{{aProj_techniques}}}';
    const contentDiv1 = document.getElementById('proj_techniques');
    contentDiv1.innerHTML = storedHtml1;
    {{/if }}
    {{#if aProj_features }}
    const storedHtml2 = '{{{aProj_features}}}';
    const contentDiv2 = document.getElementById('proj_features');
    contentDiv2.innerHTML = storedHtml2;
    {{/if }}





  </script>

  {{!--
  involvement
  timeline
  spec_features
  front_end
  back_end --}}

  {{!--
  <nobr><img class="proj_icon" src="/img/icons/google_api.png" alt=""> Google Vision API</nobr>
  <nobr><img class="proj_icon" src="/img/icons/ocr_text.png" alt=""> OCR-Text</nobr>
  <nobr><img class="proj_icon" src="/img/icons/resnet.png" alt=""> &nbsp;ResNet-18 & ResNet-50 Embedding</nobr>
  <nobr><img class="proj_icon" src="/img/icons/tokenization.png" alt=""> Tokenization</nobr>
  <nobr><img class="proj_icon" src="/img/icons/algorithm.png" alt=""> &nbsp;Levenshtein Distance Algorithm (Fuzzywuzzy)
  </nobr>
  <nobr><img class="proj_icon" src="/img/icons/faiss.png" alt=""> &nbsp;Facebook AI Similarity Search (FAISS)</nobr>
  <nobr><img class="proj_icon" src="/img/icons/scoring.png" alt=""> &nbsp;Confidence Scoring</nobr>
  --}}